
        *{
            box-sizing: border-box;
        }
        body{
            margin: 0;
    
        }
        header{
            background-color: blanchedalmond; 
            padding: 30px;
            text-align: center;
        }
        nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 10px;
  text-decoration:double;
  color: #000;
}
a{
  padding-left: 8px;
  float: left;
  align:"center";
}

.image {
  text-align: center;
  display: block;
  margin: auto;
}
.fine{
  color: blue ;
  background-color: azure;
scroll-padding-inline:10px;
;
font-size: 30px;
}
.small{
  width: 100px;
  height: 100px;
 
}